$default-font-family: "Open Sans", Helvetica Neue, sans-serif;
$default-font-size: 14px;
$default-line-height: 18px;

$container-mobile-width: 100%;
$container-desktop-width: 1200px;

$sides-mobile-width: 100%;
$sides-desktop-width: 296px;

$color-primary: #1EA4CE;
$color-primary-dark: #147594;
$color-white: #FFFFFF;
$color-black: #525252;
$color-gray: #DFDEE2;
$color-gray-light: #E5E5E5;
$color-gray-dark: #697488;
