$min-container-width: 100%;
$max-container-width: 1200px;

$color-primary: #1EA4CE;
$color-primary-dark: #147594;
$color-white: #FFFFFF;
$color-black: #525252;
$color-gray: #DFDEE2;
$color-gray2: #697488;

@mixin makeFlex($justifyContent: center, $alignItems: center, $flexWrap: no-wrap) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $flexWrap;
}