@import "../../sass/variables";
@import "../../sass/mixins";

.navbar {
  @include makeFlex();
  width: 100%;
  background-color: #1EA4CE;

  .navbar-container {
    @include makeFlex(space-between);
    width: $container-mobile-width;
    padding: 0 16px;

    @include onDesktop() {
      width: $container-desktop-width;
    }
  }
}
