@import "../../sass/variables";

.navbar {
  @include makeFlex();
  width: 100%;
  background-color: #1EA4CE;

  .navbar-container {
    @include makeFlex(space-between);
    width: $min-container-width;
    padding: 0 16px;

    @media all and (min-width: 767px) {
      width: $max-container-width;
    }
  }
}
